body{
	font-family: helvetica, arial;
	text-align: center;
}

ul{
	text-decoration: none;
	list-style-type: none;
}


h1{
	font-size: 20px;
}

hr{
	width:50%;
}

#response{
	width:100vwx;
	margin:20px;
}

.box{
	float:left;
	width:25%;
	height:300px;
	padding: 4%;
}

img{
	width: 100%;
}